@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-600;
  }

  a:hover {
    text-decoration: underline;
  }

  a[href]:not([inert]):not([tabindex^="-"]),
  area[href]:not([inert]):not([tabindex^="-"]),
  input:not([disabled]):not([inert]):not([type="hidden"]):not([tabindex^="-"]),
  select:not([disabled]):not([inert]):not([tabindex^="-"]),
  textarea:not([disabled]):not([inert]):not([tabindex^="-"]),
  button:not([disabled]):not([inert]):not([tabindex^="-"]),
  object:not([tabindex^="-"]),
  embed:not([tabindex^="-"]),
  iframe:not([inert]):not([tabindex^="-"]),
  audio[controls]:not([inert]):not([tabindex^="-"]),
  video[controls]:not([inert]):not([tabindex^="-"]),
  *[tabindex]:not([tabindex^="-"]):not([inert]),
  *[contenteditable]:not([tabindex^="-"]),
  details:not([inert]) > summary:first-of-type:not([tabindex^="-"]) {
    @apply focus-visible:outline-dashed focus-visible:outline-offset-1 focus-visible:outline-primary focus-visible:outline-2;
  }
}


@layer components {
  .btn {
    @apply inline-block min-w-[200px] py-3 px-4 border-2 rounded border-primary text-center text-primary font-bold hover:no-underline transition-all duration-300 bg-gradient-small bg-no-repeat;
    background-position: -50px 50px;
  }

  .btn:hover,
  .btn:focus-visible {
    @apply bg-left-top;
  }

  .custom-after {
    @apply after:content-[''] after:block after:absolute after:mt-1 after:w-[128px] after:h-0.5 after:bg-gradient-straight;
  }
}
