---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="header py-4 px-2 shadow">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="p-4 text-2xl text-primary font-mono font-bold text-center hover:no-underline hover:bg-coral/20 transition-colors">
      {SITE_TITLE}
    </a>
    <button class="relative inline-block w-11 h-11 p-1 trigger md:hidden" aria-expanded="false">
      <span class="mx-auto relative trigger-item">
        <span class="invisible block w-0 h-0">Manu trigger</span>
      </span>
    </button>
    <nav class="justify-center hidden md:visible md:flex menu-content transition-all absolute top-[60px] bg-white shadow flex-col p-4 right-0 z-50 md:relative md:shadow-none md:top-0 md:flex-row md:p-0" aria-label="Main navigation">
      <ul class="md:flex md:flex-row">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/resources">Resources</HeaderLink>
      </ul>
    </nav>
  </div>
</header>
<script>
const menuTrigger = document.querySelector('.trigger');
const menuContent = document.querySelector('.menu-content');
  menuTrigger?.addEventListener('click', () => {
    if (menuTrigger.classList.contains('opened')) {
      menuContent?.classList.remove('open')
      menuTrigger?.classList.remove('opened')
      menuTrigger.setAttribute('aria-expanded', 'false')
    } else {
      menuContent?.classList.add('open')
      menuTrigger?.classList.add('opened')
      menuTrigger.setAttribute('aria-expanded', 'true')
    }
});
</script>
<style>
.open {
  @apply !flex;
}
/* menu trigger animation */
.trigger-item:before,
.trigger-item:after {
  content:'';
  position:absolute;
}
.trigger-item,
.trigger-item:before,
.trigger-item:after {
  @apply h-1.5 w-full bg-primary block transition-all duration-300;
}

.trigger-item:before {
  @apply -mt-3;
}
.trigger-item:after {
  @apply mt-3;
}

.trigger.opened .trigger-item {
  background-color: rgba(0,0,0,0.0);
}

.trigger.opened .trigger-item:before {
  @apply rotate-45 mt-0;
}
.trigger.opened .trigger-item:after {
  @apply -rotate-45 mt-0;
}
</style>
