---
interface Props {
  current: 'pl' | 'en';
}
const { current } = Astro.props;
---
<div role="group" aria-label={current === 'en' ? 'Language switcher' : 'Wybór jezyka'} class="flex gap-2 items-center px-4">
  <a href="/" class={current === 'en' ? 'text-primary font-bold underline' : 'text-primary'} aria-current={current === 'en' ? 'true' : 'false'}>EN <span class="sr-only">{ current === 'en' ? 'English' : 'Angielski' }</span></a>
  <span aria-hidden="true">|</span>
  <a href="/pl/" class={current === 'pl' ? 'text-primary font-bold underline' : 'text-primary'} aria-current={current === 'pl' ? 'true' : 'false'}>PL <span class="sr-only">{ current === 'en' ? 'Polish' : 'Polski' }</span></a>
</div>
