---
interface Props {
  id: string;
  tabId: string;
  ariaHidden: 'false' | 'true';
}
const { id, tabId, ariaHidden } = Astro.props
---
<div
  role="tabpanel"
  id={id}
  aria-labelledby={tabId}
  aria-hidden={ariaHidden}
  class="p-8 border-2"
>
  <slot />
</div>
<style>
div[role="tabpanel"][aria-hidden="true"] {
  @apply hidden;
}
</style>
