---
import Layout from '../../layouts/Layout.astro';
import { t } from '../../i18n/utils';
---
<Layout title={t('nav.resources')} description="Zasoby dostępności" lang="pl">
  <div class="container mx-auto py-8">
    <h1 class="text-3xl font-bold mb-6">{t('nav.resources')}</h1>
    <ul class="list-disc pl-8">
      <li><a href="https://www.w3.org/WAI/standards-guidelines/wcag/">WCAG – Wytyczne dostępności treści internetowych (ang)</a></li>
      <li><a href="https://www.w3.org/WAI/test-evaluate/">Testowanie i ocena dostępności (ang.)</a></li>
      <li><a href="https://wcag.irdpl.pl/guidelines/22/">WCAG po polsku (po polsku także wyjaśnienia poszczególnych kryteriów)</a></li>
      <li><a href="https://wcag.lepszyweb.pl/">WCAG krótki przewodnk (quickref) po polsku</a></li>
      <li><a href=https://testy.lepszyweb.pl/">Baza wiedzy Ocenianie dostępności cyfrowej</a></li>
      <li><a href="https://www.w3.org/WAI/roles/developers/">Dostępność dla programistów (ang.)</a></li>
      <li><a href="https://polskabezbarier.org/">Polska Bez Barier</a></li>
      <li><a href="https://www.snow.dog/blog/how-to-use-accessible-names-properly-to-easily-improve-accessibility-of-your-website-aria-label-aria-labeledby-and-more">Jak prawidłowo używać etykiet, aby łatwo poprawić dostępność strony internetowej? aria-label, aria-labeledby i inne (ang.)</a></li>
      <li><a href="https://niepelnosprawni.gov.pl/">Strona Biura Pełnomocnika Rządu do Spraw Osób Niepełnosprawnych</a></li>
      <li><a href="https://www.youtube.com/@AccessibilityMeetupPozna-ly2bq">Nagrania z Accessibility Meetup Poznań - Youtube</a></li>
      <li><a href="https://dostepnik.substack.com/">Dostępnik</a></li>
      <li><a href="https://a11yweekly.com/">A11y Weekly (ang.)</a></li>
      <li><a href="https://www.meetup.com/poznan-a11y-meetup/">Accessibility Meetup Poznań</a></li>
      <li><a href="https://automatically.pl/">AutomaticA11y</a></li>
    </ul>
  </div>
</Layout>
